In [11]:
%matplotlib inline
import math
import pandas as pd
import numpy as np
# import plotly.plotly as py
# import plotly.graph_objs as go
import matplotlib.pylab as plt
from bokeh.plotting import figure
from bokeh.io import output_file, show

In [110]:
# BEFORE Cleaning: Read and get the info of the sample dataset of January 
jan = pd.read_csv('chicago_taxi_trips_2016_01.csv')
# jan.describe()
jan = jan.drop('Unnamed: 0', 1)
jan.info()
jan.head()
# jan.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 20 columns):
taxi_id                   1048566 non-null float64
trip_start_timestamp      1048575 non-null object
trip_end_timestamp        1048496 non-null object
trip_seconds              1048395 non-null float64
trip_miles                1048565 non-null float64
pickup_census_tract       0 non-null float64
dropoff_census_tract      608288 non-null float64
pickup_community_area     880582 non-null float64
dropoff_community_area    863883 non-null float64
fare                      1048554 non-null float64
tips                      1048554 non-null float64
tolls                     1048554 non-null float64
extras                    1048554 non-null float64
trip_total                1048554 non-null float64
payment_type              1048575 non-null object
company                   672319 non-null float64
pickup_latitude           880601 non-null float64
pickup_longitude          880601 non-null float64
dropoff_latitude          865044 non-null float64
dropoff_longitude         865044 non-null float64
dtypes: float64(17), object(3)
memory usage: 160.0+ MB

,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude
0,85.0,1/13/16 6:15,1/13/16 6:15,180.0,0.4,NaN,NaN,24.0,24.0,4.50,0.00,0.0,0.0,4.50,Cash,107.0,199.0,510.0,199.0,510.0
1,2776.0,1/22/16 9:30,1/22/16 9:45,240.0,0.7,NaN,NaN,NaN,NaN,4.45,4.45,0.0,0.0,8.90,Credit Card,NaN,NaN,NaN,NaN,NaN
2,3168.0,1/31/16 21:30,1/31/16 21:30,0.0,0.0,NaN,NaN,NaN,NaN,42.75,5.00,0.0,0.0,47.75,Credit Card,119.0,NaN,NaN,NaN,NaN
3,863.0,1/13/16 13:30,1/13/16 13:30,60.0,0.5,NaN,970.0,8.0,8.0,4.25,1.00,0.0,0.0,5.25,Credit Card,NaN,294.0,113.0,210.0,470.0
4,6878.0,1/10/16 3:45,1/10/16 4:00,780.0,0.2,NaN,NaN,6.0,24.0,12.25,0.00,0.0,1.0,13.25,Cash,107.0,686.0,500.0,199.0,510.0

In [108]:
# AFTER Cleaning: Run the sample dataset of january to confirm the correct procedure of cleaning 
jan = pd.read_csv('chicago_taxi_trips_2016_01.csv')
jan = jan.drop(['taxi_id','pickup_census_tract', 'dropoff_census_tract','tolls','extras','trip_total','company','pickup_latitude','pickup_longitude','dropoff_latitude','dropoff_longitude'], axis=1)
jan = jan[(jan['pickup_community_area'].notnull()) & (jan['dropoff_community_area'].notnull())]
jan = jan.fillna(0)
jan = jan.loc[(jan["trip_seconds"] > 0) & (jan["trip_miles"] > 0) & (jan["fare"] > 0) ]
jan = jan.drop('Unnamed: 0', 1)
jan.info()
jan.head()
# jan.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 673522 entries, 0 to 1048572
Data columns (total 9 columns):
trip_start_timestamp      673522 non-null object
trip_end_timestamp        673522 non-null object
trip_seconds              673522 non-null float64
trip_miles                673522 non-null float64
pickup_community_area     673522 non-null float64
dropoff_community_area    673522 non-null float64
fare                      673522 non-null float64
tips                      673522 non-null float64
payment_type              673522 non-null object
dtypes: float64(6), object(3)
memory usage: 51.4+ MB

,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tips,payment_type
0,1/13/16 6:15,1/13/16 6:15,180.0,0.4,24.0,24.0,4.50,0.0,Cash
3,1/13/16 13:30,1/13/16 13:30,60.0,0.5,8.0,8.0,4.25,1.0,Credit Card
4,1/10/16 3:45,1/10/16 4:00,780.0,0.2,6.0,24.0,12.25,0.0,Cash
5,1/19/16 8:45,1/19/16 8:45,720.0,1.4,28.0,8.0,8.50,3.0,Credit Card
6,1/2/16 21:45,1/2/16 22:00,1560.0,14.7,56.0,6.0,37.50,0.0,Cash

In [113]:
# Read the data from each month in 2016 and save them into monthly dataframe called jan, feb, mar,...
jan = pd.read_csv('chicago_taxi_trips_2016_01.csv')
feb = pd.read_csv('chicago_taxi_trips_2016_02.csv')
mar = pd.read_csv('chicago_taxi_trips_2016_03.csv')
apr = pd.read_csv('chicago_taxi_trips_2016_04.csv')
may = pd.read_csv('chicago_taxi_trips_2016_05.csv')
june = pd.read_csv('chicago_taxi_trips_2016_06.csv')
july = pd.read_csv('chicago_taxi_trips_2016_07.csv')
aug = pd.read_csv('chicago_taxi_trips_2016_08.csv')
sept = pd.read_csv('chicago_taxi_trips_2016_09.csv')
octo = pd.read_csv('chicago_taxi_trips_2016_10.csv')
nov = pd.read_csv('chicago_taxi_trips_2016_11.csv')
dec = pd.read_csv('chicago_taxi_trips_2016_12.csv')

# Clean (Remove) the columns and rows that are not applicable, unknown or missing values from each month
cleaned_2016 = pd.DataFrame()
dfYear = []
for mo in jan, feb, mar, apr, may, june, july, aug, sept, octo, nov, dec:
    mo = mo.drop(['taxi_id','pickup_census_tract', 'dropoff_census_tract','extras','tolls','trip_total','company','pickup_latitude','pickup_longitude','dropoff_latitude','dropoff_longitude'], axis=1)
    mo = mo[(mo['pickup_community_area'].notnull()) & (mo['dropoff_community_area'].notnull())]
    mo = mo.fillna(0)
    mo = mo.loc[(mo["trip_seconds"] > 0) & (mo["trip_miles"] > 0) & (mo["fare"] > 0) ]
    dfYear.append(mo)

cleaned_2016 = pd.concat(dfYear, axis=0, join='outer', ignore_index=True)
# cleaned_2016 = pd.concat(dfYear, ignore_index=True)
cleaned_2016 = cleaned_2016.drop('Unnamed: 0', 1)
cleaned_2016.info()
cleaned_2016.tail(20)
# cleaned_2016.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12919122 entries, 0 to 12919121
Data columns (total 9 columns):
dropoff_community_area    float64
fare                      float64
payment_type              object
pickup_community_area     float64
tips                      float64
trip_end_timestamp        object
trip_miles                float64
trip_seconds              float64
trip_start_timestamp      object
dtypes: float64(6), object(3)
memory usage: 887.1+ MB

,dropoff_community_area,fare,payment_type,pickup_community_area,tips,trip_end_timestamp,trip_miles,trip_seconds,trip_start_timestamp
12919102,32.0,6.75,Cash,32.0,0.00,2016-12-20 19:15:00,0.6,660.0,2016-12-20 19:00:00
12919103,28.0,9.00,Credit Card,24.0,3.00,2016-12-23 01:00:00,2.4,360.0,2016-12-23 01:00:00
12919104,7.0,9.50,Cash,24.0,0.00,2016-12-16 21:30:00,2.1,780.0,2016-12-16 21:30:00
12919105,32.0,5.75,Credit Card,32.0,3.00,2016-12-21 08:30:00,0.8,300.0,2016-12-21 08:30:00
12919106,8.0,3.50,Cash,8.0,0.00,2016-12-17 21:15:00,0.1,60.0,2016-12-17 21:15:00
12919107,8.0,14.25,Cash,28.0,0.00,2016-12-31 22:15:00,3.5,1380.0,2016-12-31 22:00:00
12919108,32.0,6.25,Cash,32.0,0.00,2016-12-16 16:45:00,0.7,420.0,2016-12-16 16:45:00
12919109,28.0,6.00,Cash,32.0,0.00,2016-12-11 12:00:00,0.5,120.0,2016-12-11 12:00:00
12919110,8.0,5.50,Cash,8.0,0.00,2016-12-11 19:30:00,0.8,240.0,2016-12-11 19:30:00
12919111,33.0,11.00,Cash,8.0,0.00,2016-12-17 13:15:00,0.2,540.0,2016-12-17 13:00:00
12919112,8.0,7.00,Cash,8.0,0.00,2016-12-2 17:00:00,1.3,480.0,2016-12-2 17:00:00
12919113,6.0,8.25,Cash,7.0,0.00,2016-12-1 15:15:00,1.7,600.0,2016-12-1 15:00:00
12919114,5.0,17.00,Credit Card,32.0,4.25,2016-12-27 16:30:00,5.2,1020.0,2016-12-27 16:15:00
12919115,7.0,11.50,Credit Card,32.0,2.30,2016-12-2 19:15:00,2.8,1020.0,2016-12-2 19:00:00
12919116,32.0,7.50,Cash,28.0,0.00,2016-12-6 09:15:00,1.3,540.0,2016-12-6 09:00:00
12919117,8.0,7.00,Credit Card,8.0,2.00,2016-12-23 14:30:00,1.1,540.0,2016-12-23 14:15:00
12919118,56.0,27.25,Cash,32.0,0.00,2016-12-17 05:30:00,9.6,1200.0,2016-12-17 05:00:00
12919119,7.0,7.75,Credit Card,7.0,1.00,2016-12-4 00:00:00,1.9,540.0,2016-12-4 00:00:00
12919120,3.0,21.25,Credit Card,32.0,4.25,2016-12-16 15:45:00,7.2,1260.0,2016-12-16 15:30:00
12919121,32.0,43.75,Credit Card,76.0,5.00,2016-12-6 11:30:00,1.0,2040.0,2016-12-6 10:45:00