# Correlation: Weather vs. Monthly Frequency for Top 3 Areas

In [ ]:
%matplotlib inline
import seaborn as sns
import math
import pandas as pd
import numpy as np
import scipy as sci
from scipy import stats
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from dateutil.parser import parse

## Read Data

### Weather Factors: Temperature, Precipitation, Snow Depth, & Wind Speed

In [2]:
weather_mthly_freq = pd.read_csv('weather_mthly_freq_top3.csv')
weather_mthly_freq.info()
weather_mthly_freq.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 8 columns):
Month           12 non-null int64
avg_temp        12 non-null int64
avg_prec        12 non-null float64
avg_snow_acc    12 non-null float64
avg_wind_spd    12 non-null float64
count_NN        12 non-null int64
count_LP        12 non-null int64
count_NW        12 non-null int64
dtypes: float64(3), int64(5)
memory usage: 848.0 bytes

,Month,avg_temp,avg_prec,avg_snow_acc,avg_wind_spd,count_NN,count_LP,count_NW
0,1,27,2.0,4.3,9.5,294174,212691,86568
1,2,27,2.1,3.2,8.9,485789,371782,140350
2,3,39,2.4,1.2,9.1,549921,419155,155529
3,4,51,2.8,1.5,9.3,553046,402532,147420
4,5,60,2.8,0.0,8.3,566223,392671,138418

## Compute Correlation

In [3]:
weather_mthly_freq.corr()

,Month,avg_temp,avg_prec,avg_snow_acc,avg_wind_spd,count_NN,count_LP,count_NW
Month,1.000000,0.273255,0.243468,-0.386599,-0.507837,-0.139851,-0.178340,-0.267171
avg_temp,0.273255,1.000000,0.621772,-0.897922,-0.860164,0.461307,0.336745,0.214132
avg_prec,0.243468,0.621772,1.000000,-0.576374,-0.580073,0.226852,0.199322,0.131690
avg_snow_acc,-0.386599,-0.897922,-0.576374,1.000000,0.756764,-0.578900,-0.502565,-0.341703
avg_wind_spd,-0.507837,-0.860164,-0.580073,0.756764,1.000000,-0.147367,-0.056334,0.049625
count_NN,-0.139851,0.461307,0.226852,-0.578900,-0.147367,1.000000,0.976156,0.940942
count_LP,-0.178340,0.336745,0.199322,-0.502565,-0.056334,0.976156,1.000000,0.972879
count_NW,-0.267171,0.214132,0.131690,-0.341703,0.049625,0.940942,0.972879,1.000000