# Frequent Itemset for Loop

In [1]:
%matplotlib inline
import math
import pandas as pd
import numpy as np
import scipy as sci
from scipy import stats
import matplotlib.pyplot as plt
from dateutil.parser import parse

## Read and Pull  2016 Pickup Latitude and Longitude for Loop (32)

In [2]:
pd.set_option('mode.chained_assignment', None)
# Read the data from each month in 2016 and save them into monthly dataframe called jan, feb, mar,...
jan = pd.read_csv('chicago_taxi_trips_2016_01.csv')
feb = pd.read_csv('chicago_taxi_trips_2016_02.csv')
mar = pd.read_csv('chicago_taxi_trips_2016_03.csv')
apr = pd.read_csv('chicago_taxi_trips_2016_04.csv')
may = pd.read_csv('chicago_taxi_trips_2016_05.csv')
june = pd.read_csv('chicago_taxi_trips_2016_06.csv')
july = pd.read_csv('chicago_taxi_trips_2016_07.csv')
aug = pd.read_csv('chicago_taxi_trips_2016_08.csv')
sept = pd.read_csv('chicago_taxi_trips_2016_09.csv')
octo = pd.read_csv('chicago_taxi_trips_2016_10.csv')
nov = pd.read_csv('chicago_taxi_trips_2016_11.csv')
dec = pd.read_csv('chicago_taxi_trips_2016_12.csv')

# Clean (Remove) the columns and rows that are not applicable, unknown or missing values from each month
loop_pickup16 = pd.DataFrame()
top_pickup = []
for mo in jan, feb, mar, apr, may, june, july, aug, sept, octo, nov, dec:
    mo = mo[mo['pickup_community_area'].isin([32.0])]  # 8: Near North, 32: Loop, 28: Near West
    mo = mo.drop(['fare','trip_miles','trip_seconds','pickup_community_area','dropoff_community_area','taxi_id','trip_start_timestamp','trip_end_timestamp','dropoff_latitude','dropoff_longitude','tips','pickup_census_tract', 'dropoff_census_tract','tolls','extras','trip_total','payment_type','company'], axis=1)
    mo = mo[(mo['pickup_latitude'].notnull()) & (jan['pickup_longitude'].notnull()) ]

    top_pickup.append(mo)

loop_pickup16 = pd.concat(top_pickup, axis=0, join='outer', ignore_index=True)
loop_pickup16 = loop_pickup16.drop('Unnamed: 0', 1)

loop_pickup16.info()
loop_pickup16.head()

/Users/heesukjang/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:22: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2338884 entries, 0 to 2338883
Data columns (total 2 columns):
pickup_latitude     float64
pickup_longitude    float64
dtypes: float64(2)
memory usage: 35.7 MB

   pickup_latitude  pickup_longitude
0             18.0             610.0
1             18.0             610.0
2             18.0             610.0
3             30.0             405.0
4             18.0             610.0

## Convert each column into a list and Create a tuple

In [3]:
g1 = loop_pickup16['pickup_latitude'].values
g2 = loop_pickup16['pickup_longitude'].values
location = tuple(zip(g1, g2))

## Populate Frequency for the Freq-Itemset (pickup latitude, longitude)

In [4]:
from pymining import itemmining
relim_input = itemmining.get_relim_input(location)
report = itemmining.relim(relim_input, min_support=2)
report

{frozenset({69.0}): 10501,
 frozenset({329.0}): 10501,
 frozenset({69.0, 329.0}): 10501,
 frozenset({30.0}): 89581,
 frozenset({405.0}): 89581,
 frozenset({30.0, 405.0}): 89581,
 frozenset({64.0}): 205170,
 frozenset({231.0}): 205170,
 frozenset({64.0, 231.0}): 205170,
 frozenset({385.0}): 306818,
 frozenset({478.0}): 306818,
 frozenset({385.0, 478.0}): 306818,
 frozenset({605.0}): 628970,
 frozenset({744.0}): 628970,
 frozenset({605.0, 744.0}): 628970,
 frozenset({18.0}): 1097844,
 frozenset({610.0}): 1097844,
 frozenset({18.0, 610.0}): 1097844}