# Frequent Itemset for Near West

In [ ]:
%matplotlib inline
import math
import pandas as pd
import numpy as np
import scipy as sci
from scipy import stats
import matplotlib.pyplot as plt
from dateutil.parser import parse

## Read and Pull  2016 Pickup Latitude and Longitude for Near West (28)

In [2]:
pd.set_option('mode.chained_assignment', None)
# Read the data from each month in 2016 and save them into monthly dataframe called jan, feb, mar,...
jan = pd.read_csv('chicago_taxi_trips_2016_01.csv')
feb = pd.read_csv('chicago_taxi_trips_2016_02.csv')
mar = pd.read_csv('chicago_taxi_trips_2016_03.csv')
apr = pd.read_csv('chicago_taxi_trips_2016_04.csv')
may = pd.read_csv('chicago_taxi_trips_2016_05.csv')
june = pd.read_csv('chicago_taxi_trips_2016_06.csv')
july = pd.read_csv('chicago_taxi_trips_2016_07.csv')
aug = pd.read_csv('chicago_taxi_trips_2016_08.csv')
sept = pd.read_csv('chicago_taxi_trips_2016_09.csv')
octo = pd.read_csv('chicago_taxi_trips_2016_10.csv')
nov = pd.read_csv('chicago_taxi_trips_2016_11.csv')
dec = pd.read_csv('chicago_taxi_trips_2016_12.csv')

# Clean (Remove) the columns and rows that are not applicable, unknown or missing values from each month
near_west_pickup16 = pd.DataFrame()
top_pickup = []
for mo in jan, feb, mar, apr, may, june, july, aug, sept, octo, nov, dec:
    mo = mo[mo['pickup_community_area'].isin([28.0])]  # 8: Near North, 32: Loop, 28: Near West
    mo = mo.drop(['fare','trip_miles','trip_seconds','pickup_community_area','dropoff_community_area','taxi_id','trip_start_timestamp','trip_end_timestamp','dropoff_latitude','dropoff_longitude','tips','pickup_census_tract', 'dropoff_census_tract','tolls','extras','trip_total','payment_type','company'], axis=1)
    mo = mo[(mo['pickup_latitude'].notnull()) & (jan['pickup_longitude'].notnull()) ]

    top_pickup.append(mo)

near_west_pickup16 = pd.concat(top_pickup, axis=0, join='outer', ignore_index=True)
near_west_pickup16 = near_west_pickup16.drop('Unnamed: 0', 1)

near_west_pickup16.info()
near_west_pickup16.head()

/Users/heesukjang/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:22: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 862425 entries, 0 to 862424
Data columns (total 2 columns):
pickup_latitude     862425 non-null float64
pickup_longitude    862425 non-null float64
dtypes: float64(2)
memory usage: 13.2 MB

   pickup_latitude  pickup_longitude
0            411.0             545.0
1            395.0             408.0
2            395.0             408.0
3            158.0             270.0
4            411.0             545.0

## Convert each column into a list and Create a tuple

In [3]:
g1 = near_west_pickup16['pickup_latitude'].values
g2 = near_west_pickup16['pickup_longitude'].values
location = tuple(zip(g1, g2))

## Populate Frequency for the Freq-Itemset (pickup latitude, longitude)

In [4]:
from pymining import itemmining
relim_input = itemmining.get_relim_input(location)
report = itemmining.relim(relim_input, min_support=2)
report

{frozenset({142.0}): 6,
 frozenset({166.0}): 6,
 frozenset({142.0, 166.0}): 6,
 frozenset({386.0}): 8,
 frozenset({519.0}): 8,
 frozenset({386.0, 519.0}): 8,
 frozenset({12.0}): 18,
 frozenset({448.0}): 18,
 frozenset({12.0, 448.0}): 18,
 frozenset({316.0}): 42,
 frozenset({415.0}): 42,
 frozenset({316.0, 415.0}): 42,
 frozenset({267.0}): 60,
 frozenset({715.0}): 60,
 frozenset({267.0, 715.0}): 60,
 frozenset({538.0}): 79,
 frozenset({595.0}): 79,
 frozenset({538.0, 595.0}): 79,
 frozenset({50.0}): 111,
 frozenset({757.0}): 111,
 frozenset({50.0, 757.0}): 111,
 frozenset({163.0}): 118,
 frozenset({326.0}): 118,
 frozenset({163.0, 326.0}): 118,
 frozenset({406.0}): 232,
 frozenset({674.0}): 232,
 frozenset({406.0, 674.0}): 232,
 frozenset({168.0}): 274,
 frozenset({724.0}): 274,
 frozenset({168.0, 724.0}): 274,
 frozenset({409.0}): 4787,
 frozenset({428.0}): 4787,
 frozenset({409.0, 428.0}): 4787,
 frozenset({433.0}): 10550,
 frozenset({591.0}): 10550,
 frozenset({433.0, 591.0}): 10550,
 frozenset({659.0}): 14567,
 frozenset({700.0}): 14567,
 frozenset({659.0, 700.0}): 14567,
 frozenset({81.0}): 27498,
 frozenset({779.0}): 27498,
 frozenset({81.0, 779.0}): 27498,
 frozenset({196.0}): 99446,
 frozenset({681.0}): 99446,
 frozenset({196.0, 681.0}): 99446,
 frozenset({158.0}): 176340,
 frozenset({270.0}): 176340,
 frozenset({158.0, 270.0}): 176340,
 frozenset({395.0}): 199683,
 frozenset({408.0}): 199683,
 frozenset({395.0, 408.0}): 199683,
 frozenset({411.0}): 328605,
 frozenset({545.0}): 328605,
 frozenset({411.0, 545.0}): 328605}