#  Monthly & Daily Pickup Frequency for Loop

In [4]:
import math
import pandas as pd
import numpy as np
import scipy as sci
from scipy import stats

## Read Data

In [2]:
time_series_freq_near_north = pd.read_csv('time_series_pickup_freq_near_north.csv')
time_series_freq_near_north.info()
time_series_freq_near_north.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5724889 entries, 0 to 5724888
Data columns (total 3 columns):
pickup_community_area    float64
month                    int64
day                      int64
dtypes: float64(1), int64(2)
memory usage: 131.0 MB

   pickup_community_area  month  day
0                    8.0      1   13
1                    8.0      1   15
2                    8.0      1   15
3                    8.0      1   15
4                    8.0      1   23

## Find monthly and daily pickup frequency and Sort in the descending order

In [3]:
month_pickup_freq = time_series_freq_near_north.groupby('month')['month'].count().sort_values(ascending=False)
print(month_pickup_freq)
day_pickup_freq = time_series_freq_near_north.groupby('day')['day'].count().sort_values(ascending=False)
print(day_pickup_freq)

month
5     566223
6     565510
4     553046
3     549921
7     531451
2     485789
8     478157
10    463295
12    418730
11    413961
9     404632
1     294174
Name: month, dtype: int64
day
12    205089
13    199555
9     197116
20    196486
14    195704
19    195158
16    195140
17    191392
18    191281
15    191142
21    190877
10    189718
8     189704
22    188755
3     188191
2     188186
23    188178
6     187653
11    186297
29    186081
4     185935
7     185454
1     183878
5     182569
28    181166
27    178910
26    177917
24    172243
30    171752
25    168566
31     94796
Name: day, dtype: int64