#  Monthly & Daily Pickup Frequency for Loop

In [2]:
import math
import pandas as pd
import numpy as np
import scipy as sci
from scipy import stats

## Read Data

In [3]:
time_series_freq_loop = pd.read_csv('time_series_pickup_freq_loop.csv')
time_series_freq_loop.info()
time_series_freq_loop.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4156245 entries, 0 to 4156244
Data columns (total 3 columns):
pickup_community_area    float64
month                    int64
day                      int64
dtypes: float64(1), int64(2)
memory usage: 95.1 MB

   pickup_community_area  month  day
0                   32.0      1   12
1                   32.0      1   20
2                   32.0      1   29
3                   32.0      1    4
4                   32.0      1   19

## Find monthly and daily pickup frequency and Sort in the descending order

In [4]:
month_pickup_freq = time_series_freq_loop.groupby('month')['month'].count().sort_values(ascending=False)
print(month_pickup_freq)
day_pickup_freq = time_series_freq_loop.groupby('day')['day'].count().sort_values(ascending=False)
print(day_pickup_freq)

month
3     419155
4     402532
6     401399
5     392671
2     371782
7     360868
8     344455
10    341331
12    305378
11    304403
9     299580
1     212691
Name: month, dtype: int64
day
8     150575
9     147178
15    146820
12    145112
22    144968
19    144847
18    143906
29    143362
14    142851
11    142751
21    140961
7     140575
13    138407
16    138327
20    137765
2     136694
1     136445
28    135141
4     134173
6     133697
26    132652
10    132477
5     132112
17    132005
3     129722
23    128913
27    126238
25    125342
24    116388
30    109999
31     65842
Name: day, dtype: int64