# Monthly & Daily Pickup Frequency for Near West

In [1]:
import math
import pandas as pd
import numpy as np
import scipy as sci
from scipy import stats

## Read Data

In [2]:
time_series_freq_near_west = pd.read_csv('time_series_pickup_freq_near_west.csv')
time_series_freq_near_west.head()

   pickup_community_area      time  month  day
0                   28.0  08:45:00      1   19
1                   28.0  17:45:00      1   29
2                   28.0  09:00:00      1    4
3                   28.0  10:15:00      1   24
4                   28.0  13:00:00      1   11

## Find monthly and daily pickup frequency and Sort in the descending order

In [6]:
month_pickup_freq = time_series_freq_near_west.groupby('month')['month'].count().sort_values(ascending=False)
print(month_pickup_freq)
day_pickup_freq = time_series_freq_near_west.groupby('day')['day'].count().sort_values(ascending=False)
print(day_pickup_freq)

month
3     155529
4     147420
6     141135
2     140350
5     138418
7     136163
8     126516
12    119751
10    119459
11    108114
9     107070
1      86568
Name: month, dtype: int64
day
19    54673
8     54226
11    53855
12    53635
9     53459
15    53316
22    51978
18    51961
1     51811
16    51471
29    51203
21    51156
13    50895
14    50865
20    50791
7     50637
2     50577
28    49729
4     49244
6     49151
17    49058
10    48771
5     48002
26    47720
3     47560
27    47546
23    47290
25    46351
24    43675
30    41333
31    24554
Name: day, dtype: int64