# Hourly Frequency for Near West

In [3]:
%matplotlib inline
import seaborn as sns
import math
import pandas as pd
import numpy as np
import scipy as sci
from scipy import stats
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from dateutil.parser import parse

## Read Data

In [4]:
time_near_west = pd.read_csv('time_series_pickup_time_near_west.csv')
time_near_west.head()

   pickup_community_area trip_start_timestamp      time
0                   28.0         1/19/16 8:45  08:45:00
1                   28.0        1/29/16 17:45  17:45:00
2                   28.0          1/4/16 9:00  09:00:00
3                   28.0        1/24/16 10:15  10:15:00
4                   28.0        1/11/16 13:00  13:00:00

## Remove unnecessary columns

In [5]:
time_near_west = time_near_west.drop(['pickup_community_area','trip_start_timestamp'], axis=1)
time_near_west.info()
time_near_west.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1526493 entries, 0 to 1526492
Data columns (total 1 columns):
time    1526493 non-null object
dtypes: object(1)
memory usage: 11.6+ MB

       time
0  08:45:00
1  17:45:00
2  09:00:00
3  10:15:00
4  13:00:00

## Parse hour data from the time column into a new column, 'hour'

In [5]:
time_near_west['hour'] = time_near_west['time'].apply(lambda x: parse(x).strftime('%-H'))
time_near_west.head()

       time hour
0  08:45:00    8
1  17:45:00   17
2  09:00:00    9
3  10:15:00   10
4  13:00:00   13

## Compute Frequency for each hour

In [6]:
hour_count = time_near_west.groupby('hour')['hour'].count().sort_values(ascending=False)
print(hour_count)

hour
9     122627
8     104192
18    101030
10     95259
17     92052
19     87371
12     86089
11     82013
13     81109
16     75116
22     72777
20     70530
14     70348
15     67785
21     66812
23     65376
7      49887
0      47597
1      29300
2      16693
6      16260
3      11270
4       8354
5       6646
Name: hour, dtype: int64