# Hourly Frequency for Near North

In [ ]:
%matplotlib inline
import seaborn as sns
import math
import pandas as pd
import numpy as np
import scipy as sci
from scipy import stats
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from dateutil.parser import parse

## Read Data

In [3]:
time_near_north = pd.read_csv('time_series_pickup_time_near_north.csv')
time_near_north.head()

   pickup_community_area trip_start_timestamp      time
0                    8.0        1/13/16 13:30  13:30:00
1                    8.0        1/15/16 23:30  23:30:00
2                    8.0        1/15/16 18:15  18:15:00
3                    8.0         1/15/16 2:45  02:45:00
4                    8.0        1/23/16 17:00  17:00:00

## Remove unnecessary columns

In [6]:
time_near_north = time_near_north.drop(['pickup_community_area','trip_start_timestamp'], axis=1)
time_near_north.info()
time_near_north.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5724889 entries, 0 to 5724888
Data columns (total 1 columns):
time    object
dtypes: object(1)
memory usage: 43.7+ MB

       time
0  13:30:00
1  23:30:00
2  18:15:00
3  02:45:00
4  17:00:00

## Parse hour data from the time column into a new column, 'hour'

In [8]:
time_near_north['hour'] = time_near_north['time'].apply(lambda x: parse(x).strftime('%-H'))
time_near_north.head()

       time hour
0  13:30:00   13
1  23:30:00   23
2  18:15:00   18
3  02:45:00    2
4  17:00:00   17

## Compute Frequency for each hour

In [19]:
hour_count = time_near_north.groupby('hour')['hour'].count().sort_values(ascending=False)
print(hour_count)

hour
19    389040
18    380912
20    348671
17    333284
21    306582
16    303972
14    300964
13    298458
15    295223
22    287863
12    281084
11    255569
9     255257
10    251933
23    249572
8     207361
0     205462
1     180835
2     156390
3     119822
7     119798
4      81525
6      61630
5      53682
Name: hour, dtype: int64

In [ ]:
hour_count = time_near_north.groupby('hour')['hour'].count().sort_values(ascending=False)
print(hour_count)