# Hourly Frequency for Loop

In [1]:
%matplotlib inline
import seaborn as sns
import math
import pandas as pd
import numpy as np
import scipy as sci
from scipy import stats
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from dateutil.parser import parse

## Read Data

In [2]:
time_loop = pd.read_csv('time_series_pickup_time_loop.csv')
time_loop.head()

   pickup_community_area trip_start_timestamp      time
0                   32.0        1/12/16 15:15  15:15:00
1                   32.0        1/20/16 23:15  23:15:00
2                   32.0         1/29/16 9:15  09:15:00
3                   32.0         1/4/16 15:15  15:15:00
4                   32.0        1/19/16 12:30  12:30:00

## Remove unnecessary columns

In [3]:
time_loop = time_loop.drop(['pickup_community_area','trip_start_timestamp'], axis=1)
time_loop.info()
time_loop.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4156245 entries, 0 to 4156244
Data columns (total 1 columns):
time    object
dtypes: object(1)
memory usage: 31.7+ MB

       time
0  15:15:00
1  23:15:00
2  09:15:00
3  15:15:00
4  12:30:00

## Parse hour data from the time column into a new column, 'hour'

In [4]:
time_loop['hour'] = time_loop['time'].apply(lambda x: parse(x).strftime('%-H'))
time_loop.head()

       time hour
0  15:15:00   15
1  23:15:00   23
2  09:15:00    9
3  15:15:00   15
4  12:30:00   12

## Compute Frequency for each hour

In [5]:
hour_count = time_loop.groupby('hour')['hour'].count().sort_values(ascending=False)
print(hour_count)

hour
18    348925
17    333391
19    332460
16    302283
13    272782
12    271470
15    268692
20    263451
14    261917
11    223223
21    193920
9     191446
10    191278
22    156429
8     144646
23    121464
7      74580
0      72067
1      42079
6      31911
2      21272
5      14794
3      12296
4       9469
Name: hour, dtype: int64