# Weekend, Weekday, & Holiday Frequency

In [9]:
%matplotlib inline
import math
import pandas as pd
import numpy as np
import scipy as sci
from scipy import stats
import matplotlib.pyplot as plt
from dateutil.parser import parse

## Read Data and Fill NAN with Zero

In [10]:
weekend_holiday_by_mth = pd.read_csv('wknd_holiday_by_month.csv')
weekend_holiday_by_mth = weekend_holiday_by_mth.fillna(0)
# weekend_holiday_by_mth = [int(x) for x in weekend_holiday_by_mth['holidays']]
# df[cols] = df[cols].applymap(np.int64)
weekend_holiday_by_mth.info()
weekend_holiday_by_mth.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 3 columns):
month       104 non-null int64
weekend     104 non-null int64
holidays    104 non-null float64
dtypes: float64(1), int64(2)
memory usage: 2.5 KB

   month  weekend  holidays
0      1        2       1.0
1      1        3       8.0
2      1        9       0.0
3      1       10       0.0
4      1       16       0.0

## Convert float to int

In [5]:
weekend_holiday_by_mth["holidays"] = weekend_holiday_by_mth["holidays"].astype(int)
# df['a'] = df['a'].round(0).astype(int)
weekend_holiday_by_mth.tail()

     month  weekend  holidays
99      12       17         0
100     12       18         0
101     12       24         0
102     12       25         0
103     12       31         0

## Total count of weekends and holidays in 2016

In [129]:
total_count = weekend_holiday_by_mth['weekend'].count()
print(total_count)

104

## Get unique values of weekends

In [7]:
# get unique days of weekend
np.sort(weekend_holiday_by_mth['weekend'].agg(pd.unique))

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31])

## Get unique values of holidays

In [8]:
# get unique days of weekend
np.sort(weekend_holiday_by_mth['holidays'].agg(pd.unique))

array([ 0,  1,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 19,
       21, 23, 24, 25, 26, 27, 28, 30, 31])

## Compute Weekend and and Weekend Count

In [144]:
# get freq. of each unique day
weekend_count = weekend_holiday_by_mth.groupby('weekend')['weekend'].count().sort_values(ascending=False)
print(weekend_count)
weekend_holiday_by_mth['weekend_count'] = weekend_holiday_by_mth.groupby('weekend')['weekend'].count()
weekdays_count = 365 - weekend_count
print(weekdays_count)
weekend_holiday_by_mth['weekdays_count'] = 365 - weekend_count

weekend_holiday_by_mth.head()

weekend
3     5
17    5
10    5
24    5
16    4
13    4
30    4
9     4
20    4
6     4
23    4
27    4
2     4
7     3
5     3
4     3
11    3
12    3
31    3
14    3
18    3
19    3
21    3
25    3
26    3
28    3
15    2
8     2
22    2
29    2
1     1
Name: weekend, dtype: int64
weekend
3     360
17    360
10    360
24    360
16    361
13    361
30    361
9     361
20    361
6     361
23    361
27    361
2     361
7     362
5     362
4     362
11    362
12    362
31    362
14    362
18    362
19    362
21    362
25    362
26    362
28    362
15    363
8     363
22    363
29    363
1     364
Name: weekend, dtype: int64

   month  weekend  holidays  weekend_count  weekdays_count
0      1        2         1            NaN             NaN
1      1        3         8            1.0           364.0
2      1        9         0            4.0           361.0
3      1       10         0            5.0           360.0
4      1       16         0            3.0           362.0

## Compute Holiday Count

In [136]:
holidays_count = weekend_holiday_by_mth.groupby('holidays')['holidays'].count().sort_values(ascending=False)
print(holidays_count)

holidays
0     68
17     3
15     3
1      2
5      2
8      2
11     2
31     2
14     2
25     2
9      1
28     1
4      1
27     1
6      1
7      1
26     1
21     1
19     1
12     1
13     1
30     1
24     1
16     1
23     1
10     1
Name: holidays, dtype: int64